:root {
    --bg-color: #293f50;
    --main-text-color: #888;
    --main-color: #648880;
    --second-color: #fff;
    --third-color: #a9b2b9;
    --btn-submit-color-hover: #77a198;
    --border-main-color: #dfe2e5;
    --border-second-color: #c6c9cc;
    --main-offer-gradient: linear-gradient(to right, #a1d3b0, #f6f1d3);
}
