:root {
    --bg-color: #293f50;
    --main-text-color: #888;
    --main-color: #648880;
    --second-color: #fff;
    --third-color: #a9b2b9;
    --btn-submit-color-hover: #77a198;
    --speakers-border-color: #dfe2e5;
}